<html>
    <body>
        <div class="main-container">
         <nav class="navbar">
            <div class="max-width">
                <ul class="menu">
                    <li><a href="#">Home </a></li>
                    <li><a href="#">About us</a></li>
                    <a href="#" class="logout"><strong>Logout</strong></a>
                     
                 </ul>
            </div>
         </nav>
          <div id="rcorners2">
            
            <div style="text-align:center" >
                <button type="submit"><h3>Add Question</h3></button><br/><br/>
                <button type="submit"><h3>Remove Question</h3></button><br/><br/>
                <button type="submit"><h3>View Report</h3></button><br/><br/>
                <button type="submit"><h3> Search Student</h3></button><br/><br/>
            </div>
         </div>
        </div>
    </body>
</html>

