

.main{
    padding: 10px;
}
.btn{
    float: right;
    padding: 12px;
    margin: 5px;
    background-color: darkgrey;
}
.report{
    text-align: center;
    padding: 12px;
    margin: 5px;
    background-color: greenyellow;
}