
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  
</head>
<body >
  
    <div class="main-container">
    <div class="container">
        <ul>
          <a  class="main" href="">Home</a>
          <a  class="main" href="">about us</a>
          
          <button class="btn" href="">Register</button> 
          <button class="btn" href="">Login</button>
        </ul>    
    </div>
 
  <div class="middle">
    <div><button class="report">Report</button></div>
    <div><button class="newexam">New Exam</button></div>
    </div>
</div>
  
  
</body>
</html>
